

.loginbody {
        background-color: hsla(0, 0%, 27%, 0.8);
        margin: 0vw 10vw;
        padding: 5px 10px;
        border-radius: 10px;
}

.usernames {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 800;
        font-style: italic;
}

.labels {
    font-size: 15px;
    font-weight: 700;
    
}

a {
    text-decoration: none;
}

.usersContainer {
    display: flex;
    justify-content: space-between;
}

.loginTitle {
    display: flex;
    justify-content: center;
}